body {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: url("../img/atl.png");
    background-size: cover;
    height: 450px;
}

.header-nav {
    text-align: right;
    padding-top: 10px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.header-nav a, .header-logo-block h1, .header-logo-block p {
    color: #F4F4F4;
}

.header-nav a {
    /* color: #F4F4F4; */
    text-decoration: none;
    margin-left: 10px;
}

.header-logo-block {
    text-align: center;
}

.header-logo-block h1 {
    font-size: 56px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    /* color: #F4F4F4; */
}

.header-logo-block p {
    font-size: 20px;
}