body {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: url("../img/atl.png");
    background-size: cover;
    height: 470px;
}

.header-nav {
    text-align: right;
    padding-top: 10px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.header-nav a, .header-logo-block h1, .header-logo-block p {
    color: #F4F4F4;
}

.header-nav a {
    /* color: #F4F4F4; */
    text-decoration: none;
    margin-left: 10px;
}

.header-logo-block {
    text-align: center;
    margin-bottom: 85px;

}

.header-logo-block h1 {
    font-size: 56px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    /* color: #F4F4F4; */
}

.header-logo-block p {
    font-size: 20px;
}

.header-down {
    text-align: center;
}

.main-tagline {
    text-align: center;
    color: #333333;
    margin-top: 70px;
    margin-bottom: 60px;
    font-size: 38px;
    font-weight: 500;
}

.main-icon-block {
    text-align: center;
    /*height: 500px;*/
}

.main-key-point {
    display: inline-block;
    /*float: left;*/
    width: 160px;
    height: 300px;
    /*margin: auto;*/
    margin: 0 15px;
}

.main-key-point-icon {
    font-size: 48px;
    border: 6px solid;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    padding: 15px;
    margin: auto;
}

.first-icon {
    border-color: #F17830;
}

.second-icon {
    border-color: #7BC142;
}

.third-icon {
    border-color: #2E8DCE;
}

.main-key-point h1 {
    color: #333333;
    font-size: 26px;
    font-weight: 500;
}

.main-key-point p {
    font-size: 13px;
}
/*footer {
    clear: both;
}*/